@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #1a1a2e;
}

body,
.form-control,
.form-control:focus,
.form-control::placeholder {
  color: #e6e6e6;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.form-control,
.col-6-bg-color {
  background-color: #16213e;
}

.form-control:focus {
  background-color: #0f3460;
  border: 1px solid #e6e6e6;
}

.form-control::placeholder {
  opacity: 0.7;
}

.form-label {
  color: #e94560;
}
