@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #1a1a2e;
  color: #e6e6e6;
}

.border {
  border-radius: 5px;
}

.btn:focus {
  box-shadow: none;
}

.form-control {
  background-color: #16213e;
  color: #e6e6e6;
}

.form-control:focus {
  background-color: #0f3460;
  color: #e6e6e6;
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

.form-control::placeholder {
  color: #e6e6e6;
  opacity: 0.7;
}
